<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My Cart</title>
	</head>
	<body>
		<h1>My Cart</h1>
		{% for product in cart_products %}
		<p>Name: {{ product.product_data.name }}</p>
		<p>Price: €{{ product.product_data.price }}</p>
		<img
			src="{{ product.product_data.img_url }}"
			alt="{{ product.product_data.name }}"
		/>
		<p>Quantity: {{ product.quantity }}</p>
		<!-- Altri dettagli del prodotto qui -->
		{% endfor %}
	</body>
</html>
