{% extends 'base.html' %} {% block content %}
<h1>Products List</h1>
<div class="row">
	{% for product in db_products %}
	<div class="col">
		<div class="card" style="width: 18rem">
			<img src="{{ product.img_url }}" class="card-img-top" alt="product_img" />
			<div class="card-body">
				<h5 class="card-title">{{ product.name }}</h5>
				<p class="card-text">€{{ product.price }}</p>
				<div style="display: flex; justify-content: space-between; gap: 0.5rem">
					<form method="POST" action="{% url 'add_to_cart' %}">
						{% csrf_token %}

						<input
							type="hidden"
							name="product_name"
							value="{{ product.name }}"
						/>
						<input
							type="hidden"
							name="product_price"
							value="{{ product.price }}"
						/>
						<input
							type="hidden"
							name="product_img_url"
							value="{{ product.img_url }}"
						/>
						<button type="submit" class="btn btn-primary">
							Aggiungi al carrello
						</button>
					</form>
					<form method="POST" action="{% url 'remove_from_cart' %}">
						{% csrf_token %}
						<input
							type="hidden"
							name="product_name"
							value="{{ product.name }}"
						/>
						<button type="submit" class="btn btn-danger">
							Rimuovi dal carrello
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
